{% load static django_bootstrap5 %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% block additional_css %}
    {% endblock %}

    {% bootstrap_javascript %}

    <title>{% block title %}{% endblock %}</title>
    <style>
      .content {
        margin-top: 5rem;
      }
      .get-started {
        background-color: aliceblue;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
      }
      .slogan {
        color:#051951;
        font-weight: 600;
        font-size: 3.5rem;
        font-family: system-ui;
      }
      .error-msg {
        border: 1px solid gray;
        max-width: 10rem;
        max-height: 4rem;
        overflow-y: scroll;
        font-size: smaller;
      }
      .uuid-table {
        font-size: smaller;
        max-width: 20rem;
      }
      footer {
        position: fixed;
        padding: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        color: white;
      }
      main {
        margin-bottom: 10rem;
      }
      .api-token-container {
        max-width: 40rem;
        margin: auto;
      }
      .api-token-box {
        border-color: lightgray;
        border-width: 2px;
        border-style: dashed;
        padding: 1rem;
      }
      button.copy-token:hover {
        background-color:lightgray;
      }
      button.copy-token > i {
        font-size: 2rem;
      }
      i.bi {
        margin-right: 0.4rem;
      }
      .bi-box-arrow-right {
        margin-left: 0.4rem;
      }
      .dropdown-item {
        font-size: 1.3rem;
      }
      .lead {
        font-weight: 500;
      }
      .nav-item {
        font-size: 1.1rem;
      }
      h3 {
        color:#417c49;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-full" aria-controls="navbar-full" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-full">
        <div class="container-fluid d-flex">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            {% include 'app_base/navbar_content.html' %}
          </ul>
        </div>
        <div class="container-fluid d-flex flex-row-reverse">
          <ul class="navbar-nav ml-auto d-flex align-items-center" id="login-buttons">
            {% if user.is_staff %}
            <li class="nav-item">
              <button type="button" class="btn btn-success" title="API Token" id="apiTokenAlert"><i class="bi bi-person-vcard"></i>API token</button>
            </li>
            {% endif %}
            <li class="nav-item mx-2">
              <a href="https://musesframework.io/docs/" target="_blank" role="button" class="btn btn-primary"><i class="bi bi-question-circle-fill"></i>Docs </a>
            </li>
            {% if user.is_authenticated %}
            
            {% if not user.is_staff %}
            <li class="nav-item">
              <button type="button" class="btn btn-danger" title="Request access" id="requestAccessTrigger"><i class="bi bi-passport"></i>Request access</button>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="user-info">
                  {% if user.first_name or user.last_name %}
                 <i class="bi bi-person-circle"></i>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})
                  {% else %}
                 <i class="bi bi-person-circle"></i>{{ user.username }}
                  {% endif %}
                </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" title="limits" href="{% url 'limits-list' %}"><i class="bi bi-speedometer2"></i>Usage Limits</a>
                </li>
                <li>
                  <a class="dropdown-item" title="metrics" href="{% url 'metrics-page' %}"><i class="bi bi-graph-up"></i>Metrics</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" title="Logout" href="{% url 'oidc_logout' %}"><i class="bi bi-box-arrow-right"></i>Logout</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <!-- <a class="btn btn-outline-success" title="Login" href="{% url 'oidc_authentication_init' %}"><i class="bi bi-box-arrow-in-right"></i>Login</a> -->
              <a class="btn btn-outline-success" title="Login"  id="loginButtonTrigger" href="#"><i class="bi bi-box-arrow-in-right"></i>Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      {% bootstrap_messages %}
      <div class="content">
        <div id="message-box"></div>
        {% block content %}
        {% endblock %}
      </div>

    </main>


    <div class="container">
    <footer class="footer py-3 bg-light">
        <div class="row align-items-end">
          <div class="col-lg-6 offset-lg-3 col-xs-12 offset-xs-0">
            <span class="text-muted">
              <!-- <a href="https://gitlab.com/nsf-muses/calculation-engine/-/issues"><i class="bi-gitlab" role="img" aria-label="GitLab"></i>Report bugs and issues here</a> -->
              <a href="https://forum.musesframework.io/new-topic?category=calc-engine-support&title=Replace%20me%20with%20descriptive%20title&body=Provide%20a%20detailed%20description%20of%20your%20problem%20and%20your%20question" target="_blank">
               <i class="bi bi-life-preserver"></i>Ask for help and report bugs here</a>.
            </span>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-lg-12">
            <span class="text-muted">
              <a href="https://musesframework.io/" target="_blank">The MUSES project</a> is supported by National Science Foundation under Cooperative Agreement OAC-2103680.
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script>
    const displayAlert = (elementId, message, type) => {
      const wrapper = document.createElement("div");
      let alertPlaceholder = document.getElementById(elementId);
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible api-token-container" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        "</div>",
      ].join("");

      alertPlaceholder.innerHTML = "";
      alertPlaceholder.append(wrapper);
    };

    function submitAccessRequest() {
        // URL of the API endpoint submitting the access request
        let url = "{% url 'request-access' %}";
        fetch(url, { method: "GET" })
          .then((Result) => Result.json())
          .then((data) => {
            return data.message;
          })
          .then((message) => {
            let alertBody = `
              <div class="container">
                <div class="row">
                  <div class="col-8 offset-1">
                    <p>Your access request has been received!</p>
                    <p>When your request is approved by an admin, you should receive an email.
                      Remember to check your spam folder if you do not receive an email within
                      24 hours.
                      </p>
                  </div>
                </div>
              </div>
              `;
            displayAlert("message-box", alertBody, "warning");
          })
          .catch((errorMsg) => {
            console.log(errorMsg);
          });
    }

    function copyToken() {
      // Get the token value from the code tag
      var copyText = document.getElementById("api-token-value");
      // Copy the token value to the clipboard
      navigator.clipboard.writeText(copyText.innerHTML);
      var copyBtn = document.getElementById("copy-token-btn");
      copyBtn.innerHTML = `<i class="bi bi-clipboard-check"></i>`;
    }

    const requestAccessTrigger = document.getElementById("requestAccessTrigger");
    if (requestAccessTrigger) {
      requestAccessTrigger.addEventListener("click", () => {
        let alertBody = `
          <div class="container">
            <div class="row">
              <div class="col-10 offset-1">
                <p>To gain API access so that you can run workflows on our computing clusters, press the button below. By doing so, you agree to <a href="https://musesframework.io/docs/user/policies/tos.html">our Terms of Service</a>.</p>
                </div>
              </div>
            <div class="row">
              <div class="col-10 offset-1">
                <button id="request-access-btn" type="button" class="btn btn-danger" onclick="submitAccessRequest()" title="Submit request for access">Submit request for access</button>
              </div>
            </div>
          </div>
          `;
        displayAlert("message-box", alertBody, "danger");
      });
    }

    const tokenAlertTrigger = document.getElementById("apiTokenAlert");
    if (tokenAlertTrigger) {
      tokenAlertTrigger.addEventListener("click", () => {
        // URL of the API endpoint returning the API token
        let url = "{% url 'token' %}";
        fetch(url, { method: "GET" })
          .then((Result) => Result.json())
          .then((data) => {
            return data.token;
          })
          .then((apiToken) => {
            let alertBody = `
              <p>Your API token is shown below. Press the clipboard button to copy it.</p>
              <div class="container">
                <div class="row">
                  <div class="col-8 offset-1 api-token-box">
                      <span class="align-middle"><code id="api-token-value">${apiToken}</code></span>
                  </div>
                  <div class="col-2">
                    <button id="copy-token-btn" type="button" class="btn copy-token" onclick="copyToken()" title="Copy to clipboard">
                     <i class="bi bi-clipboard"></i>
                    </button>
                  </div>
                </div>
              </div>
              `;
            displayAlert("message-box", alertBody, "success");
          })
          .catch((errorMsg) => {
            console.log(errorMsg);
          });
      });
    }

    const loginButtonTrigger = document.getElementById("loginButtonTrigger");
    if (loginButtonTrigger) {
      loginButtonTrigger.addEventListener("click", () => {
        let alertBody = `
          <div class="container">
            <div class="row">
              <div class="col-10 offset-1">
                <h1>🛑 STOP!</h1>
                <p>Before you login, you <i>must</i> read these instructions carefully to create (or use your
                existing) MUSES account properly.</p>
                <p>First, <a target="_blank"
                href="https://forum.musesframework.io/my/preferences/account">log in to
                our community forum using this link</a>. This is where you will engage
                with the MUSES community and seek help when you have questions. The
                forum login button will take you to a CILogon screen where you can
                choose which identity provider (IdP) to use for authentication (typically your academic institution).
                <strong>Once you have chosen your IdP you must always use the same one
                when logging into MUSES web services</strong>. </p>
                <p>Once you are logged into the forum and are satisfied with your
                selected IdP, proceed to click the login
                button below. You should be immediately redirected to this home page where 
                you should see your name in the nav bar on the top-right of the screen.</p>
                <p><a target="_blank" href="https://forum.musesframework.io/t/muses-accounts/214#what-is-a-muses-account-1">Click
                here to learn more about MUSES accounts</a>.</p>

                </div>
              </div>
            <div class="row">
              <div class="col-10 offset-1">
                <button id="login-btn" type="button" class="btn btn-success" onclick="window.location = '/oidc/authenticate';" title="Login">
                  <i class="bi bi-box-arrow-in-right"></i>Proceed to login
                </button>
              </div>
            </div>
          </div>
          `;
        displayAlert("message-box", alertBody, "warning");
      });
    }
  </script>

  {% block javascript %}
  {% endblock %}
  {% block extra_javascript %}
  {% endblock %}
</html>
