{% load django_bootstrap5 %}
{% load static %}

<li class="nav-item">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="{% static 'images/Muses_Reversed_banner.png' %}" style="max-height: 2rem;" />
  </a>
  <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item" title="Home" href="{% url 'home' %}"><i class="bi bi-house"></i>Home</a>
    </li>
    <li>
      <a class="dropdown-item" title="modules" href="{% url 'module-list' %}"><i class="bi bi-list-ul"></i>Module list</a>
    </li>
  </ul>
</li>
{% if user.is_staff %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'job-page' %}"><i class="bi bi-motherboard"></i>Jobs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'upload-page' %}"><i class="bi bi-cloud-upload"></i>Uploads</a>
</li>
{% endif %}
{% if user.is_superuser %}
<li class="nav-item">
  <a class="nav-link" href="/flower/tasks" target="_blank">Tasks</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'user-list-page' %}">Users</a>
</li>
{% endif %}
