{% extends "!layout.html" %}
{% block extrahead %}
    <link href="{{ pathto("_static/css/style.css", True) }}" rel="stylesheet" type="text/css">
{% endblock %}

{%- block footer %}
{%- if not READTHEDOCS %}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="{{ _('Versions') }}">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> {{ project }}</span>
      {{ release }}
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl>
        <dt>{{ _('Versions') }}</dt>
          <dd><a href="#">{{ release }}</a></dd>
      </dl>
    </div>
  </div>
{%- endif %}
{% endblock %}
