{% extends 'app_base/base.html' %}
{% load static %}
{% block title %}Usage Limits{% endblock %}
{% block additional_css %}
<style>
  td {
    max-width: 30rem;
  }
  td.narrow {
    max-width: 10rem;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row pt-3">
    <div class="col-lg-6">
      <h3>Usage Limits</h3>
      <p class="">
        The table below displays your usage limits.
      </p>
    </div>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Limit</th>
      </tr>
    </thead>
    <tbody>
      {% for key, limit in limits.items %}
      <tr>
        <td class="narrow">
          {{ limit.title }}
        </td>
        <td class="">
          {{ limit.description }}
        </td>
        <td class="narrow">
          <code>{{ limit.limit }}</code>
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
