{% extends 'app_base/base.html' %}
{% block content %}
  <h1>Metrics</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Jobs (success/failure)</th>
          <th>Job files (size)</th>
          <th>Uploads</th>
          <th>Users (active)</th>
          <th>Users (total)</th>
        </tr>
      </thead>
      <tbody>
        {% if metric_list %}
        {% for this_metric in metric_list %}
        <tr>
          <td class="uuid-table"><code>{{ this_metric.time_collected }}</code></td>
          <td class="uuid-table"><code>{{ this_metric.jobs_total }} ({{ this_metric.jobs_success }}/{{ this_metric.jobs_failure }})</code></td>
          <td class="uuid-table"><code>{{ this_metric.job_files_total }} ({{ this_metric.job_files_size }} {{ this_metric.job_files_size_units }})</code></td>
          <td class="uuid-table"><code>{{ this_metric.uploads_total }}</code></td>
          <td class="uuid-table"><code>{{ this_metric.users_active }}</code></td>
          <td class="uuid-table"><code>{{ this_metric.users_count}}</code></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>

{% endblock %}
