{% extends 'app_base/base.html' %}
{% block content %}
  <h1>Uploaded files</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Path</th>
          <th>Description</th>
          <th>Checksum</th>
          <th>UUID</th>
          <th>Time Uploaded</th>
          <th>Public</th>
          <th>Link</th>
          {% if user.is_superuser %}
          <th>Owner</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if upload_list %}
        {% for this_upload in upload_list %}
        <tr>
          <td class="uuid-table"><code>{{ this_upload.path }}</code></td>
          <td class="">{{ this_upload.description }}</td>
          <td class="uuid-table"><code>{{ this_upload.checksum }}</code></td>
          <td class="uuid-table"><code>{{ this_upload.uuid }}</code></td>
          <td>{{ this_upload.created }}</td>
          <td>{{ this_upload.public }}</td>
          <td>
            <form action="{% url 'download-upload' this_upload.uuid %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-link" style="padding: 0;">Download</button>
            </form>
          </td>
          {% if user.is_superuser %}
          <td>{{ this_upload.owner }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>

{% endblock %}
